@charset "UTF-8";

*{
	padding: 0px;
	margin: 0px;
}

.wrap{
    padding : 20px;
    margin: 0 auto;
    width: 1200px;
    margin-bottom:100px;
}


h3{
	text-align:center;
	margin-bottom:10px;
}

.table{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid  #888;
    text-align: center;
    border-collapse: collapse;
}
.tbID, .tbNAME, .tbADDRESS, .tbPHONENUM, .tbGRADE{
	border: 1px solid #888;
	text-align: center;
	font-weight: bold;
	background: #f0f0f0;
	width: 200px;
	height: 40px;
	border-collapse: collapse;
}

.tbid, .tbname, .tbaddress, .tbphonenum, .tbgrade{
	border: 1px solid #888;
	width: 200px;
	height: 40px;
	border-collapse: collapse;
}
.tr{
	display: flex;
}
.tr_body{
	display: flex;
}

.tbody:nth-child(2n+1) div{
    background-color: #f0f0f0;
}

