@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
section{
	margin: 0 auto;
}
h3{
	margin: 20px 0;
	text-align: center;
}
.goodsUpdate-wrap{
	width: 700px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid lightgray;
	background-color: white;
	margin-bottom:300px;
}
form{
	padding: 10px;
}
table{
	margin:20px auto;
}

table, tr, td{
	border: 1px solid black;
	border-collapse: collapse;
}
td{
	padding: 10px;
}

button{
	padding: 5px 10px;
}

input[type=text]{
	height: 25px;
}
input[type=reset]{
	padding: 5px 10px;
}
td:last-child {
	text-align: center;
}