*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
#sales-table{
    padding: 10px;
    margin: 10px auto;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
   
}


#sales-table td, #sales-table th {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    color: #333333;
    font-size: 0.875em;
  }
#sales-table tbody tr:nth-child(2n+1){
    background-color: #f0f0f0;
}

#sales-table th:nth-child(1), #sales-table td:nth-child(1){
    width: 200px;
}
#sales-table th:nth-child(4), #sales-table td:nth-child(4){
    width: 150px;
}
#sales-table th:last-child, #sales-table td:last-child{
    padding-right: 10px;
}


section{
    min-width: 1200px;
    min-height: 900px;
    padding-top: 80px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section1, .section2{
    width: 450px;
    height: 600px;
    box-sizing: border-box;
    margin: 10px;
}
.section2{
    border: 1px solid lightgray;
    background-color: white;

}
.section1 div{
    width: 450px;
    height: 295px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
}