*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul, li{
    list-style: none;
}
section{
    min-width: 1200px;
    min-height: 900px;
    padding-top: 80px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section1, .section2{
    width: 450px;
    height: 600px;
    box-sizing: border-box;
    margin: 10px;
}
.section2{
    border: 1px solid lightgray;
    background-color: white;

}
.section1 div{
    width: 450px;
    height: 295px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
}