@charset "UTF-8";
h3{
    margin: 17px;
    color: #333333;
}
#newsale_tbl{
    padding: 10px;
    margin: 10px auto;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
    box-sizing: border-box;
}

#newsale_tbl td, #newsale_tbl th {
    width: 110px;
    padding: 10px 0;
    text-align: center;
    color: #333333;
    font-size: 0.875em;
  }
#newsale_tbl tbody tr:nth-child(2n+1){
    background-color: #f0f0f0;
}

#newsale_tbl th:nth-child(3), #newsale_tbl td:nth-child(3){
    width: 160px;
}
#newsale_tbl th:nth-child(4), #newsale_tbl td:nth-child(4){
    width: 60px;
}
#newsale_tbl th:last-child, #newsale_tbl td:last-child{
    padding-right: 10px;
}

#newsale_tbl thead{
    display:block;
}
#newsale_tbl tbody{
    display:block;
    height: 185px;
    overflow: scroll;
}