@charset "EUC-KR";

section{
	margin-top: -5%;
}

table{
	width:1000px;
	margin:0px auto;
	border:1px solid  #888;
	border-collapse: collapse;
	margin-bottom: 50px;
}

td{
	border:1px solid  #888;
	border-collapse: collapse;
	text-align: center;
	height:30px;
}

caption{
	margin:50px auto;
}

tbody tr:nth-child(2n+1){
    background-color: #f0f0f0;
}
.f td{
	font-weight: bold;
	height: 50px;
}



input{
	width:180px;
	height:25px;
}

button{
	background-color: #00c73c;
	border-color:#00c73c;
	width:60px;
	height:35px;
	color:white;
}

span{
	font-size:22px;
	display:block;
	width:300px;
	height:100px;
	text-align:center;
	margin: 50px auto;
}
