@charset "UTF-8";
.stock-wrap{
	width: 500px;
    padding: 10px;
    margin: 10px auto;
}
.stock-wrap h2{
	margin: 20px 10px;
}
table{
    border: 1px solid #888;
    border-collapse: collapse;
}

#stock_tbl td, #stock_tbl th {
    width: 90px;
    padding: 10px 0;
    text-align: center;
    font-size: 0.875em;
  }
#stock_tbl tbody tr:nth-child(2n+1){
    background-color: #f0f0f0;
}

#stock_tbl th:nth-child(1), #stock_tbl td:nth-child(1){
    width: 50px;
}
#stock_tbl th:nth-child(4), #stock_tbl td:nth-child(4){
    width: 150px;
}
#stock_tbl th:last-child, #stock_tbl td:last-child{
    padding-right: 10px;
}

#stock_tbl thead{
    display:block;
}
#stock_tbl tbody{
    display:block;
    height: 194px;
    overflow: auto;
}